body{
  background-color: black;
}
.App {
  text-align: center;
}

.MainBody {
  color: white;
  font-size: 2rem;  
  padding-left: 2rem;
  padding-top: 2rem;
}

.SubmitBox{
  padding-top: 1rem;
  font-size: 1rem;
}

.search-input{
  width: 30rem;
  /* outline: none; */
  height: 1.5rem;
  font-size: 1rem;
  color: black;
  
}

.search-input::placeholder {
  color: rgba(143, 135, 135, 0.5); /* or any color with opacity */
}

.Submit{
  color:black;
  background-color: grey;
  border-radius: 5px;
  border: 1px solid;
}

.Submit:hover{
  transition: 0.3s;
  color:black;
  background-color: rgb(19, 235, 80);
}

.UserTable{
  
  margin-top: 1rem;

  width: 80%;
  border: 1px solid;
  border-color: rgb(255, 255, 255);
  font-size: small;
  
  border-collapse: collapse; 
}


.UserTable th{
  
  margin: 1rem auto;
  border: 1px solid;
  border-color: rgb(255, 255, 255);
  font-size: small;
  /* min-width: 6rem;
  width: auto; */
}

.UserTable td{
  margin: 1rem auto;
  border: 1px solid;
  border-color: rgb(255, 255, 255);
  font-size: small;
  /* min-width: 6rem;
  width: auto; */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}



